language: node_js
node_js:
  - '6'
  - '5'
script:
  - npm test
  - npm run build
after_success:
  - echo -e "Host 46.101.87.198\n\tStrictHostKeyChecking no\n" >> ~/.ssh/config
  - openssl aes-256-cbc -K $encrypted_31bc3109c651_key -iv $encrypted_31bc3109c651_iv -in deploy_key.pem.enc -out keys/deploy_key.pem -d
  - eval "$(ssh-agent -s)"
  - chmod 600 keys/deploy_key.pem
  - ssh-add keys/deploy_key.pem
  - git remote add deploy ssh://travis@46.101.87.198/var/repositories/yogofrozen.git
  - git push deploy
